body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: burlywood;
}

.header {
  background-color: cadetblue;
  width: 100%;
  height: 60px;
}

footer {
  background-color: cadetblue;
  padding: 0.5rem 0;
  text-align: center;
  color: white;
  width: 100%;
  position: absolute;
  bottom: 0 !important;
  margin-top: 5%;
}

.itemContainer{
  width: auto;
  text-decoration: none;
  margin: 5%;
 }